{% extends 'base.html.twig' %}

{% block body %}
<style>
body{
    background-color:#f3f4f61c;
}
form-control:focus {
    color: #36434d!important;
    background-color: #f7f8fc!important;
    border-color:#e0e7ed !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    outline: 0;
}
.form-control:disabled, .form-control[readonly]
{
    background-color: #fff;
    opacity: 1; }
.card{
    background-color:#fff;
     box-shadow: 0 3px 9px 3px rgb(0 0 0 / 4%)!important;
     border:none !important;
}
.card-header {
  padding: 1.5rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0 solid #d9dee3;
}
.card-header:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}
</style>
    <div class="container mt-4">
    
    <div class="col-md-6 m-auto">
                  <div class="card m-auto mb-4">
                    <h5 class="card-header text-center">Veillez Remplir le formulaire !</h5>
                    <div class="card-body">
                      <div>
                        {{ form_start(form, {'action': path('confirmation')}) }}

				        {{ form_widget(form) }}
                         <div class="text-center">
				       <button type="submit" class="add-cart-btn mt-4 ">Enregistrer</button>
                         </div>
				         {{ form_end(form) }}
                      
                      </div>
                    </div>
                  </div>
               
         </div>
     </div>
     
{% endblock %}

