@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
    /**
     * transition 
     */
    --transition-timing: 0.2s ease;
}

body {
    font-family: var(--sm-font);
}


/* button */

.bg-primary {
    background-color: var(--salmon-pink)!important;
}

.add-cart-btn {
    background: var(--salmon-pink);
    padding: 7px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    text-decoration: none;
    border: none;
}

.add-cart-btn:hover {
    background: var(--eerie-black);
    color: var(--white);
}


/* text color */

.text-primary {
    color: var(--salmon-pink)!important;
}


/* navbar */

.navbar {
    border-bottom: solid 1px #d5e3ec4d;
    box-shadow: 0 2px 6px rgb(58 57 68 / 6%);
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--salmon-pink)!important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0);
}

.nav-item a {
    font-size: 15px;
}


/* header */

#header {
    background: linear-gradient(rgba(57, 49, 49, 0.418), rgba(57, 49, 49, 0.418)), url(../images/banner-img-1-min.jpg) top/cover no-repeat;
}

.carousel-inner h1 {
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item .btn {
    border-color: #fff!important;
    background-color: #fff;
}

.carousel-item .btn:hover {
    border-color: #fff!important;
}

.btno:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
    text-decoration: none;
}

.btno:not(.nav-btns button):hover {
    background-color: var(--salmon-pink);
    color: #fff;
    border-color: var(--salmon-pink);
    text-decoration: none;
}


/* title */

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--salmon-pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* collection */

.active-filter-btn {
    background-color: var(--salmon-pink)!important;
    color: #fff!important;
    border-color: var(--salmon-pink)!important;
}

.filter-button-group .btn:hover {
    color: #fff!important;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


/* special */

.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 4px 8px!important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* offers */

#offers {
    background: url(../images/offer_img.jpg) center/cover no-repeat;
}

#offers .row {
    min-height: 60vh;
}

.offers-content span {
    font-size: 28px;
}

.offers-content h2 {
    font-size: 60px;
    font-family: var(--lg-font);
}

.offers-content .btn {
    border-color: transparent!important;
}


/* about */

#about {
    background-color: rgba(179, 179, 179, 0.05);
}


/* newsletter */

#newsletter {
    background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p {
    max-width: 600px;
}

#newsletter .input-group {
    max-width: 500px;
}

#newsletter .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/* footer */

footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink)!important;
}


/* media queries */

@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
}