<section id="image-carousel" class="splide splide--loop splide--ltr splide--draggable is-active is-initialized" aria-label="Beautiful Images" aria-roledescription="carousel" style="max-width: 100vw;">
	<div class="splide__track splide__track--loop splide__track--ltr splide__track--draggable" id="image-carousel-track" aria-live="polite" aria-relevant="additions" style="padding-left: 0px; padding-right: 0px;">
		<ul class="splide__list" id="image-carousel-list" role="presentation" style="transform: translateX(-1304px);">
			<li class="splide__slide splide__slide--clone is-active" id="image-carousel-clone01" role="group" aria-roledescription="slide" aria-label="3 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);" aria-hidden="true">
				<img src="assets/IMG/1645553818_mini2.webp" alt="">
			</li>
			<li class="splide__slide splide__slide--clone" id="image-carousel-clone02" role="group" aria-roledescription="slide" aria-label="4 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);" aria-hidden="true">
				<img src="assets/IMG/1645553758_mini1.webp" alt="">
			</li>
			<li class="splide__slide" id="image-carousel-slide01" role="group" aria-roledescription="slide" aria-label="1 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);" aria-hidden="true">
				<img src="assets/IMG/1645553838_mini3.webp" alt="">
			</li>
			<li class="splide__slide is-prev" id="image-carousel-slide02" role="group" aria-roledescription="slide" aria-label="2 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);" aria-hidden="true">
				<img src="assets/IMG/1645553867_mini4.webp" alt="">
			</li>
			<li class="splide__slide is-visible is-active" id="image-carousel-slide03" role="group" aria-roledescription="slide" aria-label="3 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);">
				<img src="assets/IMG/1645553818_mini2.webp" alt="">
			</li>
			<li class="splide__slide is-visible is-next" id="image-carousel-slide04" role="group" aria-roledescription="slide" aria-label="4 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);">
				<img src="assets/IMG/1645553758_mini1.webp" alt="">
			</li>
			<li class="splide__slide splide__slide--clone is-visible" id="image-carousel-clone03" role="group" aria-roledescription="slide" aria-label="1 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);">
				<img src="assets/IMG/1645553838_mini3.webp" alt="">
			</li>
			<li class="splide__slide splide__slide--clone" id="image-carousel-clone04" role="group" aria-roledescription="slide" aria-label="2 of 4" style="margin-right: 1rem; width: calc(((100% + 1rem) / 1) - 1rem);" aria-hidden="true">
				<img src="assets/IMG/1645553867_mini4.webp" alt="">
			</li>
		</ul>
		<span class="splide__sr">…</span>
	</div>
</section>
